<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<script th:src="@{webjars/jquery/3.5.1/jquery.min.js}"
	type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{webjars/popper.js/1.16.0/popper.min.js}"
	type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
	type="text/javascript"
	src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<meta charset="ISO-8859-1">
<title>Registro</title>

</head>
<body >

	

	<div class="container mt-4 d-flex justify-content-center">
		<div class="col-sm-10 ">
			<form th:action="@{/saveRegistro}" th:object=${registro} method="POST">
			<div class="card-header">
				<h3 class="text-center">Registro de Veiculos</h3>
			</div>
			
			<p  th:text="${#authentication.getPrincipal().getUsername()}"></p>
			
			<div class="form-row">
				<div class="form-group col-md-8">
					<label for="exampleFormControlTextarea1">Detalle</label>
					<textarea th:field="*{detalleLugarRegistro}" class="form-control"
						id="exampleFormControlTextarea1" rows="3"></textarea>

				</div>
				<div class="form-group col-md-4">
					<label for="fecha">Fecha y Hora</label>
					<!-- <input th:field="*{fechaHora}" size="16" type="datetime" name="event_datetime" class="form-control" id="form_datetime">-->
					<input th:field="*{fechaHora}" size="16" type="text" class="form-control" id="fecha" value="${#temporals.format(fecha,'dd/MM/yyyy hh:mm')}" th:placeholder="${#temporals.format(fecha,'dd/MM/yyyy hh:mm')}" readonly="readonly">
				</div>
			</div>

<!-- Tripulantes -->
			<div class="card-header">
				<h5>Datos del Tripulante</h5>
			</div>
			
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Apellido</th>
								<th scope="col">Nombre</th>
								<th scope="col">DNI</th>
								<th scope="col">Nacionalidad</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="currentTripulante, stat : *{tripulantes}">
								<td >
									<input type="text" th:field="*{tripulantes[__${stat.index}__].apellido}" />
								</td>
								<td >
									<input type="text" th:field="*{tripulantes[__${stat.index}__].nombres}" />
								</td>
								<td >
									<input type="text" th:field="*{tripulantes[__${stat.index}__].documento}" />
								</td>
								<td >
									<div class="form-group col-md-6">
										<label for="id_nacionalidad">Nacionalidad</label> 
										<select	th:field="*{tripulantes[__${stat.index}__].nacionalidad}" id="id_nacionalidad" class="form-control">
											<!-- <option selected disabled="disabled">seleccionar</option> -->
											<option th:value = "Argentina" th:text="Argentina"></option>
											<option th:value = "Bolivia" th:text="Bolivia"></option>
											<option th:value = "Brasil" th:text="Brasil"></option>
											<option th:value = "Chile" th:text="Chile"></option>
											<option th:value = "Paraguay" th:text="Paraguay"></option>
											<option th:value = "Peru" th:text="Peru"></option>
											<option th:value = "Uruguay" th:text="Uruguay"></option>
											<option th:value = "Brasil" th:text="Otro"></option>
										</select>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			

				<!-- 

				<div class="form-row">
				<div class="form-group col-md-6">
					<label for="id_nombre">Nombre</label> 
					<input	th:field="*{tripulantes[nombre]}" type="text" class="form-control" id="id_nombre">
				</div>
				<div class="form-group col-md-6">
					<label for="id_apellido">Apellido</label> 
					<input th:field="*{tripulantes.apellido}" type="text" class="form-control" id="id_apellido">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="id_dni">DNI</label> <input
						th:field="*{tripulantes.documento}" type="number"
						class="form-control" id="id_dni">
				</div>
				<div class="form-group col-md-6">
					<label for="id_nacionalidad">Nacionalidad</label> <select
						th:field="*{tripulantes.nacionalidad}" id="id_nacionalidad"
						class="form-control">
						<option selected>seleccionar</option>
						<option>Argentina</option>
						<option>Brasil</option>
						<option>Chile</option>
						<option>Peru</option>
						<option>Bolivia</option>
						<option>Uruguay</option>
						<option>Paraguay</option>
						<option>Otro</option>
					</select>
				</div>
			</div> -->
			
<!-- fin Tripulantes -->			
			
			<!--  </form>-->
			<div class="card-header">
				<h5>Datos del Vehiculo</h5>
			</div>
			<!--  <form action="">-->
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="id_titular">Titular</label> <input
						th:field="*{vehiculo.titular}" type="text" class="form-control"
						id="id_titular">
				</div>
				<div class="form-group col-md-6">
					<label for="id_patente">Patente</label> 
					<input th:field="*{vehiculo.patente}" type="text" class="form-control" id="id_patente">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="id_marca">Marca</label> <input
						th:field="*{vehiculo.marca}" type="text" class="form-control"
						id="id_marca">
				</div>
				<div class="form-group col-md-4">
					<label for="id_modelo">Modelo</label> <input
						th:field="*{vehiculo.modelo}" type="text" class="form-control"
						id="id_modelo">
				</div>
				<div class="form-group col-md-4">
					<label for="id_tipo">Tipo</label> <input
						th:field="*{vehiculo.tipo}" type="text" class="form-control"
						id="id_tipo">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="id_chasis">Numero de Chasis</label> <input
						th:field="*{vehiculo.numeroChasis}" type="number"
						class="form-control" id="id_chasis">
				</div>
				<div class="form-group col-md-4">
					<label for="id_motor">Numero de Motor</label> <input
						th:field="*{vehiculo.numeroMotor}" type="number"
						class="form-control" id="id_motor">
				</div>
				<div class="form-group col-md-4">
					<label for="id_color">Color</label> <input
						th:field="*{vehiculo.color}" type="text" class="form-control"
						id="id_color">
				</div>
			</div>
			<!--  </form>-->
			<div class="card-header">
				<h5>Localidad</h5>
			</div>
			<!--  <form action="">-->
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="id_localidad">Nombre</label> <input
						th:field="*{localidad.nombre}" type="text" class="form-control"
						id="id_localidad">
				</div>
			</div>
			<!--  </form>-->
			<div class="from-grup row">
				<div class="col-lg-12 text-center">
					<a href="#" class="btn btn-secondary" role="button"
						aria-disabled="true">Cancelar</a>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</form>
		</div>
	</div>

	<div th:insert="layout/footer :: footer"></div>



</body>
</html>